@import 'tailwindcss';

@plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin 'daisyui/theme' {
  name: 'light';
  default: true;
  prefersdark: false;
  --color-secondary: white;
  --color-secondary-content: black;
}

@plugin 'daisyui/theme' {
  name: 'dark';
  default: false;
  prefersdark: true;
  --color-secondary: white;
  --color-secondary-content: black;
}

@layer base {
  /* Global resets or typography */
  body {
    font-family: var(--font-sans, theme('fontFamily.sans'));
  }
}

@layer components {
  /* Custom component classes */
}

@layer utilities {
  /* Custom utility classes */
}
